# exclude all
/*

# need gradle 
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!gradle.properties

# include markdowns
!README.md
!LICENSE

# include sourcecode
!src/

# include library
!libs/

# include git important files
!.gitmodules
!.gitignore

